@charset "utf-8"

$body-color: hsl(0, 0%, 4%)

@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all.sass"
@import "bulma/sass/components/navbar.sass"
@import "bulma/sass/components/tabs.sass"
@import "bulma/sass/elements/button.sass"
@import "bulma/sass/elements/container.sass"
@import "bulma/sass/elements/progress.sass"
@import "bulma/sass/elements/table.sass"
@import "bulma/sass/elements/title.sass"

html, body
  -webkit-font-smoothing: auto

.chart-container .navbar
  margin-bottom: 1rem

#subnav
  margin-bottom: 1rem

.scenario-editor
  background: white
  border-radius: 5px
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1)
  margin-top: 2rem
  overflow: hidden
  width: 700px

  iframe
    height: 600px
    width: 100%

  header, footer
    line-height: 1
    padding: 1rem

  header
    border-bottom: 1px solid $grey-lighter

  footer
    border-top: 1px solid $grey-lighter
    margin-top: -6px

.apexcharts-legend .apexcharts-legend-series
  padding: 5px

.apexcharts-tooltip-text
  line-height: 1.1

.apexcharts-tooltip-series-group, .apexcharts-tooltip-series-group:last-child
  padding-bottom: 0 !important
