.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 2px auto;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right: 0;
}

.accordionItem {
  border-top: 1px solid #d6e8f2;
  border-left: none;
  border-right: none;
}

.accordionItem:first-of-type {
  border-top: none;
}

.accordionButton {
  background: #d6e8f2;
  color: #333333;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.accordionButton::after {
  content: '\25BC';
  font-size: 12px;
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

.accordionButton:hover {
  background-color: #c0d4e8;
  color: #000000;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease;
  padding: 0 10px;
  display: none;
}

.accordionContent.open {
  max-height: none;
  padding: 5px 0px 5px 20px;
  display: block;
  overflow: visible;
  background-color: #f9f9f9;
}

.nestedLevel0 .accordionButton {
  background: #D6E8F2;
}

.nestedLevel0 .accordionButton:hover {
  background-color: #C0D4E8;
}

.nestedLevel1 .accordionButton {
  background: #B2CBD9;
}

.nestedLevel1 .accordionButton:hover {
  background-color: #A0BCC9;
}

.nestedLevel2 .accordionButton {
  background: #91AEBF;
}

.nestedLevel2 .accordionButton:hover {
  background-color: #80A0AF;
}

.nestedLevel3 .accordionButton {
  background: #7494A6;
}

.nestedLevel3 .accordionButton:hover {
  background-color: #658498;
}

.nestedLevel4 .accordionButton {
  background: #5A7A8C;
}

.nestedLevel4 .accordionButton:hover {
  background-color: #4C6A7C;
}
