.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 2px auto; /* Reduced margin */
  background-color: #ffffff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding-right: 0; /* Remove padding on the right side */
}

.accordionItem {
  border-top: 1px solid #d6e8f2; /* Light blue border */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}

.accordionItem:first-of-type {
  border-top: none;
}

.accordionButton {
  background: #d6e8f2; /* Light blue background */
  color: #333333; /* Dark grey text */
  border: none;
  padding: 10px; /* Reduced padding */
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal; /* Normal font weight */
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative; /* For arrow positioning */
}

.accordionButton::after {
  content: '\25BC'; /* Down-pointing arrow */
  font-size: 12px;
  position: absolute;
  right: 10px; /* Space from the right edge */
  transition: transform 0.3s ease;
}

.accordionButton:hover {
  background-color: #c0d4e8; /* Slightly darker blue on hover */
  color: #000000; /* Black text on hover */
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease;
  padding: 0 10px; /* Reduced padding */
  display: none; /* Initially hide the content */
}

.accordionContent.open {
  max-height: none; /* Let the content decide its height */
  padding: 5px 0px 5px 20px; /* Top, Right, Bottom, and increased Left padding */
  display: block; /* Display the content when open */
  overflow: visible;
  background-color: #f9f9f9; /* Light grey background for content */
}

/* Additional styles for alternating shades based on nesting level */
.nestedLevel0 .accordionButton {
  background: #d6e8f2;
}

.nestedLevel1 .accordionButton {
  background: #C0D6E2;
}

.nestedLevel2 .accordionButton {
  background: #B6CBD6;
}

.nestedLevel3 .accordionButton {
  background: #A7BAC4;
}

.nestedLevel4 .accordionButton {
  background: #9CAEB8;
}
