@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Variable', Montserrat, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    @apply text-gray-800;
  }

  * {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a .current-page-check {
  display: none;
}

a[aria-current="page"] .current-page-check {
  display: block;
}

a[aria-current="page"] .inactive-page-spacer {
  display: none;
}

table {
  table-layout: fixed; /* Ensure table layout is fixed */
  width: 100%; /* Optional: Ensure table takes full width */
}

.fixed-width-cell {
  width: 100px; /* Set the desired fixed width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.first-col {
  width: 200px; /* wider first column */
}

.ant-dropdown-css-var {
  --ant-color-primary: inherit;
  --ant-color-link: #4e7be4;
  --ant-font-family: inherit;
  --ant-font-size: 14px;
  --ant-color-text: rgba(0,0,0,0.88);
  --ant-color-bg-elevated: #ffffff;
  --ant-color-link-hover: #89a9ec;
}
